In [1]:
PATH_TO_INITIAL_STATE = '/Users/pmikheev/land_storage_assignment/data/storage_asof_20200101.parquet'

In [4]:
import pandas as pd

In [5]:
!pip install pyarrow
!pip install fastparquet

Collecting pyarrow
  Using cached pyarrow-7.0.0-cp39-cp39-macosx_10_13_x86_64.whl (20.2 MB)
Requirement already satisfied: numpy>=1.16.6 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-7.0.0
Collecting fastparquet
  Using cached fastparquet-0.8.1-cp39-cp39-macosx_10_9_universal2.whl (775 kB)
Requirement already satisfied: fsspec in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2021.8.1)
Requirement already satisfied: pandas>=1.1.0 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (1.3.4)
Requirement already satisfied: numpy>=1.18 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (1.20.3)
Collecting cramjam>=2.3.0
  Using cached cramjam-2.5.0-cp39-cp39-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl (2.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.1.0->fastparquet) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/pmikheev/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.1

In [71]:
init_df = pd.read_parquet(PATH_TO_INITIAL_STATE)

In [72]:
init_df.sort_values(['crude_relative', 'diesel_relative'])

        port  crude_absolute  crude_relative  diesel_absolute  diesel_relative
2  Rotterdam        42000000            0.33         72000000             0.81
0    Houston        50000000            0.45          2250000             0.33
1  Singapore       120000000            0.50         15000000             0.62

In [14]:
init_df.shape[0]

3

In [5]:
PATH_TO_EVENT_STATE = '/Users/pmikheev/land_storage_assignment/data/cargo_movements.parquet'

event_df = pd.read_parquet(PATH_TO_EVENT_STATE)

In [6]:
event_df.shape[0]

100

In [7]:
event_df.sort_values(['start_timestamp', 'end_timestamp'])

,loading_port,start_timestamp,discharge_port,end_timestamp,product,quantity
4,Houston,2020-01-01 05:23:31,Yeosu,2020-01-05 13:35:20,fuel oil,122089
88,Houston,2020-01-01 05:28:02,Lagos,2020-01-12 14:08:10,fuel oil,55940
89,Rotterdam,2020-01-01 07:53:09,Yeosu,2020-01-10 07:32:44,diesel,21914
81,Rotterdam,2020-01-01 08:54:06,Yeosu,2020-01-12 14:41:25,fuel oil,35951
82,Lagos,2020-01-01 17:06:43,Singapore,2020-01-05 22:34:28,crude oil,198300
...,...,...,...,...,...,...
26,Lagos,2020-01-14 05:12:11,Yeosu,2020-01-26 20:32:39,crude oil,17921
95,Singapore,2020-01-14 07:30:15,Lagos,2020-01-20 01:02:43,fuel oil,191392
96,Yeosu,2020-01-14 09:17:16,Yeosu,2020-01-22 18:01:22,crude oil,36744
59,Rotterdam,2020-01-14 14:50:56,Rotterdam,2020-01-27 23:51:32,crude oil,178572
79,Rotterdam,2020-01-14 22:25:50,Singapore,2020-01-25 22:17:51,diesel,181982

In [8]:
loading_df = event_df.loc[:, ['loading_port', 'start_timestamp', 'product', 'quantity']].rename(columns={
    'start_timestamp': 'ts', 
    'loading_port': 'port', 
})
loading_df['action'] = 'load'

In [9]:
discharge_df = event_df.loc[:, ['discharge_port', 'end_timestamp', 'product', 'quantity']].rename(columns={'end_timestamp': 'ts', 'discharge_port': 'port'})
discharge_df['action'] = 'discharge'

In [10]:
loading_df.head(5)

        port                  ts    product  quantity action
0  Rotterdam 2020-01-12 00:00:59     diesel     16065   load
1      Lagos 2020-01-03 15:13:47   fuel oil    188414   load
2    Houston 2020-01-08 19:50:22  crude oil    165326   load
3  Rotterdam 2020-01-05 22:22:21     diesel     42576   load
4    Houston 2020-01-01 05:23:31   fuel oil    122089   load

In [11]:
discharge_df.head(5)

        port                  ts    product  quantity     action
0  Singapore 2020-01-24 09:29:29     diesel     16065  discharge
1      Yeosu 2020-01-12 21:45:42   fuel oil    188414  discharge
2      Lagos 2020-01-22 01:17:00  crude oil    165326  discharge
3    Houston 2020-01-14 09:27:04     diesel     42576  discharge
4      Yeosu 2020-01-05 13:35:20   fuel oil    122089  discharge

In [12]:
merged_df = pd.concat([loading_df, discharge_df]).sort_values('ts')
merged_df

         port                  ts    product  quantity     action
4     Houston 2020-01-01 05:23:31   fuel oil    122089       load
88    Houston 2020-01-01 05:28:02   fuel oil     55940       load
89  Rotterdam 2020-01-01 07:53:09     diesel     21914       load
81  Rotterdam 2020-01-01 08:54:06   fuel oil     35951       load
82      Lagos 2020-01-01 17:06:43  crude oil    198300       load
..        ...                 ...        ...       ...        ...
37  Rotterdam 2020-01-24 11:13:30  crude oil    164829  discharge
79  Singapore 2020-01-25 22:17:51     diesel    181982  discharge
19  Rotterdam 2020-01-26 02:29:04   fuel oil     61704  discharge
26      Yeosu 2020-01-26 20:32:39  crude oil     17921  discharge
59  Rotterdam 2020-01-27 23:51:32  crude oil    178572  discharge

[200 rows x 5 columns]

In [38]:
# merged_df[merged_df['product'] == 'crude oil' and merged_df['port'] in ['Rotterdam', 'Houston', 'Singapore']].shape[0]
merged_df[((merged_df['product'] == 'crude oil') | (merged_df['product'] == 'diesel')) & ((merged_df['port'] == 'Rotterdam') | (merged_df['port'] == 'Houston') | (merged_df['port'] == 'Singapore'))].shape[0]

69

In [28]:
merged_df[merged_df['product'] == 'diesel'].shape[0]

70

In [26]:
merged_df.shape[0]

200

In [13]:
from dataclasses import dataclass
from datetime import datetime

from enum import Enum


class ProductType(Enum):
    CRUDE_OIL = 'crude oil'
    DIESEL = 'diesel'


class ActionType(Enum):
    LOAD = 'load'
    DISCHARGE = 'discharge'


@dataclass
class Event:
    action: ActionType
    product: ProductType
    port: str
    quantity: int
    ts: datetime

In [14]:
for idx, row in merged_df.iterrows():
    print(row['action'])
    r = Event(**row.to_dict())
    print(r)
    print(type(r.product))

load
Event(action='load', product='fuel oil', port='Houston', quantity=122089, ts=Timestamp('2020-01-01 05:23:31'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=55940, ts=Timestamp('2020-01-01 05:28:02'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=21914, ts=Timestamp('2020-01-01 07:53:09'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=35951, ts=Timestamp('2020-01-01 08:54:06'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=198300, ts=Timestamp('2020-01-01 17:06:43'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=28745, ts=Timestamp('2020-01-01 17:24:20'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=128771, ts=Timestamp('2020-01-01 19:32:48'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=67236, ts=Timestamp('2020-01-02 02:11:14'))
<class 'str'>
load
Event(action='load', product='diesel', port='Singapore', quantity=183892, ts=Timestamp('2020-01-02 22:06:41'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=56397, ts=Timestamp('2020-01-03 00:36:07'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Singapore', quantity=49991, ts=Timestamp('2020-01-03 01:52:24'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=40135, ts=Timestamp('2020-01-03 06:00:57'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=124436, ts=Timestamp('2020-01-03 06:49:58'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=126939, ts=Timestamp('2020-01-03 09:44:53'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=145593, ts=Timestamp('2020-01-03 10:07:28'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=61611, ts=Timestamp('2020-01-03 13:04:21'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=34890, ts=Timestamp('2020-01-03 14:17:29'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=188414, ts=Timestamp('2020-01-03 15:13:47'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=83707, ts=Timestamp('2020-01-03 16:41:34'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=80458, ts=Timestamp('2020-01-03 17:46:07'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Rotterdam', quantity=74465, ts=Timestamp('2020-01-03 21:22:00'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=196216, ts=Timestamp('2020-01-03 22:46:33'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Rotterdam', quantity=15210, ts=Timestamp('2020-01-04 05:29:32'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=25652, ts=Timestamp('2020-01-04 06:59:48'))
<class 'str'>
load
Event(action='load', product='diesel', port='Houston', quantity=188355, ts=Timestamp('2020-01-04 08:33:22'))
<class 'str'>
load
Event(action='load', product='diesel', port='Singapore', quantity=198760, ts=Timestamp('2020-01-04 09:26:40'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=106653, ts=Timestamp('2020-01-04 15:36:11'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Singapore', quantity=89535, ts=Timestamp('2020-01-04 20:15:22'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=87351, ts=Timestamp('2020-01-04 23:01:41'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=70518, ts=Timestamp('2020-01-04 23:13:40'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=55906, ts=Timestamp('2020-01-05 09:14:34'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Yeosu', quantity=128771, ts=Timestamp('2020-01-05 09:33:28'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=170155, ts=Timestamp('2020-01-05 11:22:41'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=107119, ts=Timestamp('2020-01-05 11:53:06'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=122089, ts=Timestamp('2020-01-05 13:35:20'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=88792, ts=Timestamp('2020-01-05 14:42:48'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=116760, ts=Timestamp('2020-01-05 15:49:18'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=57868, ts=Timestamp('2020-01-05 20:10:04'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=123228, ts=Timestamp('2020-01-05 20:42:03'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=65153, ts=Timestamp('2020-01-05 21:50:32'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=42576, ts=Timestamp('2020-01-05 22:22:21'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Singapore', quantity=198300, ts=Timestamp('2020-01-05 22:34:28'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Singapore', quantity=94247, ts=Timestamp('2020-01-06 01:45:33'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=183598, ts=Timestamp('2020-01-06 01:51:32'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=158337, ts=Timestamp('2020-01-06 04:33:48'))
<class 'str'>
load
Event(action='load', product='diesel', port='Houston', quantity=24080, ts=Timestamp('2020-01-06 08:41:49'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=72543, ts=Timestamp('2020-01-06 09:38:28'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=74204, ts=Timestamp('2020-01-06 09:42:23'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Singapore', quantity=134516, ts=Timestamp('2020-01-06 10:42:02'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=134704, ts=Timestamp('2020-01-06 17:58:44'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Yeosu', quantity=49991, ts=Timestamp('2020-01-06 17:59:06'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=182251, ts=Timestamp('2020-01-07 04:19:39'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=181658, ts=Timestamp('2020-01-07 06:42:07'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=24707, ts=Timestamp('2020-01-07 08:23:41'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=126721, ts=Timestamp('2020-01-07 10:36:13'))
<class 'str'>
load
Event(action='load', product='diesel', port='Houston', quantity=189959, ts=Timestamp('2020-01-07 10:41:21'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Houston', quantity=56397, ts=Timestamp('2020-01-07 15:34:04'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=152024, ts=Timestamp('2020-01-07 16:14:18'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Yeosu', quantity=61611, ts=Timestamp('2020-01-07 17:00:51'))
<class 'str'>
load
Event(action='load', product='diesel', port='Singapore', quantity=149397, ts=Timestamp('2020-01-07 20:53:35'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=124436, ts=Timestamp('2020-01-07 21:59:15'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=147318, ts=Timestamp('2020-01-07 23:53:47'))
<class 'str'>
load
Event(action='load', product='diesel', port='Singapore', quantity=138263, ts=Timestamp('2020-01-08 05:35:06'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=20822, ts=Timestamp('2020-01-08 08:47:12'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Yeosu', quantity=89535, ts=Timestamp('2020-01-08 09:39:19'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Lagos', quantity=83707, ts=Timestamp('2020-01-08 10:42:21'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=39017, ts=Timestamp('2020-01-08 13:16:07'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=165326, ts=Timestamp('2020-01-08 19:50:22'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=29733, ts=Timestamp('2020-01-08 21:39:31'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=177889, ts=Timestamp('2020-01-08 23:04:04'))
<class 'str'>
load
Event(action='load', product='diesel', port='Houston', quantity=198723, ts=Timestamp('2020-01-09 00:07:15'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=103819, ts=Timestamp('2020-01-09 08:21:38'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=28517, ts=Timestamp('2020-01-09 10:18:24'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=194175, ts=Timestamp('2020-01-09 10:45:49'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=182490, ts=Timestamp('2020-01-09 16:35:32'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Yeosu', quantity=108549, ts=Timestamp('2020-01-09 16:42:02'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=185928, ts=Timestamp('2020-01-09 17:52:43'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=23424, ts=Timestamp('2020-01-09 17:55:37'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=59740, ts=Timestamp('2020-01-09 20:42:54'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Singapore', quantity=196216, ts=Timestamp('2020-01-09 21:08:31'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Lagos', quantity=24080, ts=Timestamp('2020-01-09 23:40:03'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Singapore', quantity=183598, ts=Timestamp('2020-01-10 03:09:17'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=193699, ts=Timestamp('2020-01-10 03:09:19'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=51656, ts=Timestamp('2020-01-10 05:20:49'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=56818, ts=Timestamp('2020-01-10 06:45:19'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=98084, ts=Timestamp('2020-01-10 07:20:13'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Yeosu', quantity=21914, ts=Timestamp('2020-01-10 07:32:44'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Singapore', quantity=126939, ts=Timestamp('2020-01-10 11:43:44'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Yeosu', quantity=72543, ts=Timestamp('2020-01-10 12:39:40'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=73251, ts=Timestamp('2020-01-10 13:57:40'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=185734, ts=Timestamp('2020-01-10 23:35:30'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=54867, ts=Timestamp('2020-01-11 00:11:18'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=69787, ts=Timestamp('2020-01-11 01:56:37'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Lagos', quantity=32045, ts=Timestamp('2020-01-11 02:37:10'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=147318, ts=Timestamp('2020-01-11 06:05:06'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Rotterdam', quantity=24707, ts=Timestamp('2020-01-11 09:35:22'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=198760, ts=Timestamp('2020-01-11 13:12:36'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Houston', quantity=138943, ts=Timestamp('2020-01-11 17:39:00'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=65747, ts=Timestamp('2020-01-11 18:08:08'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Rotterdam', quantity=26666, ts=Timestamp('2020-01-11 18:51:55'))
<class 'str'>
load
Event(action='load', product='diesel', port='Houston', quantity=73438, ts=Timestamp('2020-01-11 19:54:50'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=25652, ts=Timestamp('2020-01-11 20:10:25'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=7944, ts=Timestamp('2020-01-11 21:35:03'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=16065, ts=Timestamp('2020-01-12 00:00:59'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Lagos', quantity=145593, ts=Timestamp('2020-01-12 00:17:39'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=105852, ts=Timestamp('2020-01-12 01:19:59'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=164829, ts=Timestamp('2020-01-12 03:46:28'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=101405, ts=Timestamp('2020-01-12 09:56:46'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=13612, ts=Timestamp('2020-01-12 10:04:53'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Yeosu', quantity=29733, ts=Timestamp('2020-01-12 13:29:52'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Lagos', quantity=55940, ts=Timestamp('2020-01-12 14:08:10'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=35951, ts=Timestamp('2020-01-12 14:41:25'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=61704, ts=Timestamp('2020-01-12 15:14:46'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Singapore', quantity=40135, ts=Timestamp('2020-01-12 15:19:03'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Houston', quantity=57868, ts=Timestamp('2020-01-12 15:32:01'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Houston', quantity=74465, ts=Timestamp('2020-01-12 20:20:54'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Houston', quantity=20849, ts=Timestamp('2020-01-12 21:31:40'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=188414, ts=Timestamp('2020-01-12 21:45:42'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Lagos', quantity=123228, ts=Timestamp('2020-01-12 22:45:54'))
<class 'str'>
load
Event(action='load', product='diesel', port='Lagos', quantity=110144, ts=Timestamp('2020-01-13 02:47:47'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Singapore', quantity=126721, ts=Timestamp('2020-01-13 05:51:26'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Houston', quantity=67236, ts=Timestamp('2020-01-13 08:35:29'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=75518, ts=Timestamp('2020-01-13 11:14:42'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Singapore', quantity=170155, ts=Timestamp('2020-01-13 16:03:14'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Yeosu', quantity=110249, ts=Timestamp('2020-01-13 16:20:01'))
<class 'str'>
load
Event(action='load', product='diesel', port='Yeosu', quantity=139057, ts=Timestamp('2020-01-13 20:15:59'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=20822, ts=Timestamp('2020-01-13 20:45:21'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Lagos', quantity=17921, ts=Timestamp('2020-01-14 05:12:11'))
<class 'str'>
load
Event(action='load', product='fuel oil', port='Singapore', quantity=191392, ts=Timestamp('2020-01-14 07:30:15'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Houston', quantity=87351, ts=Timestamp('2020-01-14 07:39:32'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Yeosu', quantity=36744, ts=Timestamp('2020-01-14 09:17:16'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Houston', quantity=42576, ts=Timestamp('2020-01-14 09:27:04'))
<class 'str'>
load
Event(action='load', product='crude oil', port='Rotterdam', quantity=178572, ts=Timestamp('2020-01-14 14:50:56'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Rotterdam', quantity=28745, ts=Timestamp('2020-01-14 19:28:00'))
<class 'str'>
load
Event(action='load', product='diesel', port='Rotterdam', quantity=181982, ts=Timestamp('2020-01-14 22:25:50'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Yeosu', quantity=106653, ts=Timestamp('2020-01-15 01:20:33'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=23424, ts=Timestamp('2020-01-15 04:56:02'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Lagos', quantity=198723, ts=Timestamp('2020-01-15 06:06:06'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Lagos', quantity=185928, ts=Timestamp('2020-01-15 09:21:36'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Lagos', quantity=188355, ts=Timestamp('2020-01-15 12:00:05'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Lagos', quantity=32045, ts=Timestamp('2020-01-15 13:53:17'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=80458, ts=Timestamp('2020-01-15 17:03:59'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Lagos', quantity=69787, ts=Timestamp('2020-01-15 19:31:06'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Rotterdam', quantity=74204, ts=Timestamp('2020-01-16 00:05:58'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Singapore', quantity=183892, ts=Timestamp('2020-01-16 03:02:03'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Lagos', quantity=70518, ts=Timestamp('2020-01-16 15:53:41'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Yeosu', quantity=65153, ts=Timestamp('2020-01-16 23:21:18'))
<class 'str'>
discharge
Event(action='discharge', product='fuel oil', port='Rotterdam', quantity=116760, ts=Timestamp('2020-01-17 02:21:02'))
<class 'str'>
discharge
Event(action='discharge', product='diesel', port='Lagos', quantity=103819, ts=Timestamp('2020-01-17 05:25:28'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Houston', quantity=15210, ts=Timestamp('2020-01-17 06:31:04'))
<class 'str'>
discharge
Event(action='discharge', product='crude oil', port='Lagos', quantity=34890, ts=Timestamp('2020-01-17 12:14:25'))
<class 'str'>
discharge